<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="msapplication-TileColor" content="#092854"/>
	<link rel="shortcut icon" href="//static5.netshoes.net/3379.1.1/assets/img/favicon/favicon.ico"/>
	<link rel="icon" sizes="16x16 32x32" href="//static5.netshoes.net/3379.1.1/assets/img/favicon/favicon.ico"/>
	<!-- PNG Favicon -->
	<!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="//static2.netshoes.net/3379.1.1/assets/img/favicon/favicon-152.png"/>
	<!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="//static2.netshoes.net/3379.1.1/assets/img/favicon/favicon-144.png"/>
	<!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="//static2.netshoes.net/3379.1.1/assets/img/favicon/favicon-120.png"/>
	<!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="//static2.netshoes.net/3379.1.1/assets/img/favicon/favicon-114.png"/>
	<!-- iPad iOS7+ sem retina display e iPad Mini-->
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="//static2.netshoes.net/3379.1.1/assets/img/favicon/favicon-76.png"/>
	<!-- For first- and second-generation iPad: -->
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="//static2.netshoes.net/3379.1.1/assets/img/favicon/favicon-72.png"/>
	<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="//static2.netshoes.net/3379.1.1/assets/img/favicon/favicon-57.png"/>
	<link rel="icon" sizes="32x32" href="//static2.netshoes.net/3379.1.1/assets/img/favicon/favicon-32.png"/>
	<title>Test Netshoes</title>
	<link rel="stylesheet" href="css/test-netshoes.min.css">
</head>
<body class="home">

<div class="container">
	<section class="showcase" data-js="showCase">
		<ul>
			
		</ul>
	</section>
</div>

<section class="bag" data-js="bag">
	<div class="bag-icon" data-js="status-bag">Sacola <span class="bag-icon-numb" data-js="item-bag">0</span></div>
	<div class="bag-header">
		<h3>Sacola <span class="bag-number">0</span></h3>
	</div>
	<div class="list-items" data-js="items-bag">
		
	</div>
	<div class="bag-subtotal">
		<div class="bag-subtotal-title">
			subtotal
		</div>
		<div class="bag-subtotal-price">
			R$ <span data-js="totalBag">0,00</span>
			<div class="bag-subtotal-installment">
				ou em até 10 x R$ <span data-js="priceInstallment">0,00</span>
			</div>
		</div>
	</div>
	<div class="bag-purchase">
		<a href="#">comprar</a>
	</div>

</section>

<script src="js/netshoes.min.js"></script>
</body>
</html>
