<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Test Netshoes</title>
	<link rel="stylesheet" href="css/test-netshoes.min.css">
</head>
<body class="home">

<div class="container">
	<section class="showcase" data-js="showCase">
		<ul>
			
		</ul>
	</section>
</div>

<section class="bag" data-js="bag">
	<div class="bag-icon" data-js="status-bag">Sacola <span class="bag-icon-numb">0</span></div>
	<div class="bag-header">
		<h3>Sacola <span class="bag-number">0</span></h3>
	</div>
	<div class="bag-items">
		<div class="bag-items-image">
			<img src="https://http2.mlstatic.com/camisa-time-europeu-D_NQ_NP_902811-MLB20636896618_032016-F.jpg" alt="">
		</div>
		<div class="bag-items-text">
			<div class="bag-items-title">Camiseta Corinthians College 77</div>
			<div class="bag-items-sku">GGG | Preto e branco</div>
			<div class="bag-items-amount">Quantidade: 1</div>
		</div>
		<div class="bag-items-price">
			R$ 149,90
		</div>
		<div class="bag-items-delete" data-js="icon-delete">delete</div>
	</div>
	<div class="bag-items">
		<div class="bag-items-image">
			<img src="https://http2.mlstatic.com/camisa-time-europeu-D_NQ_NP_902811-MLB20636896618_032016-F.jpg" alt="">
		</div>
		<div class="bag-items-text">
			<div class="bag-items-title">Camiseta Corinthians College 77</div>
			<div class="bag-items-sku">GGG | Preto e branco</div>
			<div class="bag-items-amount">Quantidade: 1</div>
		</div>
		<div class="bag-items-price">
			R$ 149,90
		</div>
		<div class="bag-items-delete" data-js="icon-delete">delete</div>
	</div>
	<div class="bag-subtotal">
		<div class="bag-subtotal-title">
			subtotal
		</div>
		<div class="bag-subtotal-price">
			R$ 379,90
			<div class="bag-subtotal-installment">
				ou em até 10 x R$ 37,97
			</div>
		</div>
	</div>
	<div class="bag-purchase">
		<a href="#">comprar</a>
	</div>

</section>

<script src="js/netshoes.min.js"></script>
</body>
</html>
